<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fon awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Vue ToDo List</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <div id="app">
        <h1>Vue ToDo List</h1>

        <!-- Input e pulsante per aggiungere nuovi todo -->
        <div>
            <input v-model="newTodoText" placeholder="Inserisci nuovo todo" @keyup.enter="addTodo">
            <button @click="addTodo">Aggiungi</button>
        </div>

        <!-- Lista di todo -->
        <ul>
            <li v-for="(todo, index) in todos" :key="index" :style="{ 'text-decoration': todo.done ? 'line-through' : 'none' }">
                <!-- Testo sbarrato solo se done è true e il testo del todo non è "Fare la spesa" -->
                <span>
                    {{ todo.text }}
                </span>
                
                <!-- Pulsante "X" per rimuovere il todo -->
                <button @click="removeTodo(index)"><i class="fa-solid fa-x style"></i></button>
            </li>
        </ul>
    </div>


<script src="script.js"></script>

</body>
</html>